.article-meta {
    font-size: 1.2rem;
}

.article-meta {
    margin-bottom: 12px;
}

.article-content {
    font-size: var(1.7rem,1.8rem);
    letter-spacing: var(--content-letter-spacing,0);
    margin-top: 2rem;
}

.article-image {
    width : 100%;
    height : auto;
}

.canvas {
    display: grid;
    grid-template-columns: [full-start] minmax(var(--gap),auto) [wide-start] minmax(auto,calc((var(--container-width, 1200px) - var(--content-width, 720px))/2)) [main-start] min(var(--content-width,720px),calc(100% - var(--gap)*2)) [main-end] minmax(auto,calc((var(--container-width, 1200px) - var(--content-width, 720px))/2)) [wide-end] minmax(var(--gap),auto) [full-end];
}

.canvas > * {
    grid-column: main-start/main-end;
}
