<!-- Google tag (gtag.js) -->
<script src="/js/prism.js"></script>

<script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.9/dist/cookieconsent.js"></script>
<script defer src="/js/cookieconsent-init.js"></script>

<script>
    $(".search-button").on("click", function(ev){
        window.document.location = "/search"
    });

    $("#menu-button").on("click", (ev) => {
        $("#appmenu").css("display", "block")
    })

    $("#menu-button-close").on("click", (ev) => {
        $("#appmenu").css("display", "none")
    })
</script>

<script src="/js/change-theme.js"></script>